#phone ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#phone ::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: none;
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
}

#phone ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(122, 122, 122, 0.9);
    background-color: rgba(232, 232, 232, 0.66);
}